* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: white;
}

#nav {
  height: 100px;
  width: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

#nav-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 17px;
  border: 1.5px solid black;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 50px;
}

i1 {
  font-size: 17px;
  border: 1.5px solid black;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 50px;
}

#nav h1 {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

#nav button {
  padding: 7px 10px;
  border-radius: 50px;
  border: 1.5px solid black;
  font-size: 16px;
  font-weight: 600;
}

#btn2 {
  background-color: red;
  color: #fff;
  border: none;
}

#main>h1 {
  font-size: 9vw;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

img {
  height: 430px;
  width: 370px;
  object-position: top;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#img1 {
  transform: translate(-50%, -50%) rotate(-30deg);
}

#img2 {
  transform: translate(-50%, -50%) rotate(-20deg);
}

#img3 {
  transform: translate(-50%, -50%) rotate(-10deg);
}

#btm-left {
  font-size: 13px;
  position: absolute;
  bottom: 50px;
  left: 30px;
}

#btm-right {
  font-size: 13px;
  position: absolute;
  bottom: 50px;
  right: 30px;
}

#icon {
  position: absolute;
  bottom: 70px;
  right: 55px;
  font-size: 20px;
}

@media (max-width:600px) {
  #nav {
    width: 100%;
    height: 80px;
  }

  #nav-part1 {
    gap: .7vw;
  }

  #nav h3 {
    font-size: 3vw;
  }

  #nav h1 {
    font-size: 2.5vw;
  }

  #nav button {
    font-size: 3vw;
  }

  .ourAdvantage {
    font-size: 3vw;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 5vw;
  }

  img {
    border-radius: 10px;
    width: 28vw;
    height: 37vw;
  }

  #icon a {
    text-decoration: none;
  }

  #icon i {
    text-decoration: none;
    font-size: 4vw;
    color: black;
  }
}